<div class="app-scroller">
  <div id="up-control" class="clickable"><label>Previous</label></div>
  <div id="app-scroll-content">
    <div class="scroll-item-first"> <a href=""><img src="{% static_url /images/appthumbs/app1.gif %}" /></a>
      <h5><a href="">Walk Score</a></h5>
      <p>Walk Score uses open transit data to show transit stops near a home.</p>
    </div>
    <div class="scroll-item"> <a href=""><img src="{% static_url /images/appthumbs/app2.gif %}" /></a>
      <h5><a href="">Walk Score</a></h5>
      <p>Walk Score uses open transit data to show transit stops near a home.</p>
    </div>
    <div class="scroll-item"> <a href=""><img src="{% static_url /images/appthumbs/app3.gif %}" /></a>
      <h5><a href="">Walk Score</a></h5>
      <p>Walk Score uses open transit data to show transit stops near a home.</p>
    </div>
    <div class="scroll-item"> <a href=""><img src="{% static_url /images/appthumbs/app3.gif %}" /></a>
      <h5><a href="">Walk Score</a></h5>
      <p>Walk Score uses open transit data to show transit stops near a home.</p>
    </div>
    <div class="scroll-item"> <a href=""><img src="{% static_url /images/appthumbs/app3.gif %}" /></a>
      <h5><a href="">Walk Score</a></h5>
      <p>Walk Score uses open transit data to show transit stops near a home.</p>
    </div>
  </div>
  <div id="down-control" class="clickable"><label>Next</label></div>
</div> 
