{% extends 'base.html' %}

{% block title %}Open Transit Data &raquo; Transit App Gallery{% endblock %}

{% block content %}
    <!-- TODO jesse: add some design here. (dave) -->
    
    <div id="app-gallery" class="body-content">    
        <h4>{{transit_app_count}} Transit Apps In The Gallery</h4>        
        <h3>AND HERE ARE SOME OF THEM!</h3>
        
        {% for transit_app in transit_apps %}
        <h3>NUMBER {{forloop.counter}}</h3>
        <table>
            <tr>
                <th>Name:</th>
                <th>Short Description:</th>
                <th>Pretty Picture:</th>
            </tr>
            <tr>
                <td>{{transit_app.name}}</td>
                <td>{{transit_app.description}}</td>
                <td>{{transit_app.image_link}}</td>
            </tr>
        </table>
        <p>&nbsp;</p>
        {% endfor %}
                
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
