<!-- NOTE DAEVPECK: THIS IS JUST AN EXAMPLE. THROW IT AWAY OR USE IT AS YOU SEE FIT. -->

{% extends 'base.html' %}

{% block title %}open transit!!! neat!!!{% endblock %}

{% block content %}
    <h2>Thanks for submitting the petition entry! We got it!</h2>
    <p><a href="{% url home %}">Click to go to "home"</a></p>  
    {% if_django_debug %}
        <p>(Or, click to go to <a href="/_ah/admin/datastore?kind=ExamplePetitionModel">the appengine local development server admin page to see if something got added to the datastore</a>.)</p>
    {% end_if_django_debug %}
{% endblock %}
