<!-- NOTE DAEVPECK: THIS IS JUST AN EXAMPLE. THROW IT AWAY OR USE IT AS YOU SEE FIT. -->

{% extends 'base.html' %}

{% block title %}open transit!!! neat!!!{% endblock %}

{% block content %}
    <h2>Example petition form.</h2>
    <p>This page is just an example showing how to use Django forms, if you want to. I did the petition form shown in the mockup.</p>
    
    <p>
        <form action="" method="POST">
            <table>
            {{ form.as_table }}
            </table>

            <input type="submit"></input>
        </form>
    </p>
    
    <p>(Or, you can <a href="{% url home %}">Click to go to "home"</a>)</p>   
{% endblock %}
