{% extends 'base.html' %}

{% block content %}
	<div id="left-col">
	  <div id="no-data-list">
	    <h4>531 agencies</h4>
	    <h3>NO PUBLIC DATA</h3>
	    <ol>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	      <li>
	        <h5>New York MTA</h5>
	        <p><a href="">email</a> twitter: @nytsubwayscoop<br />
	          CEO: Jay H Walter</p>
	      </li>
	    </ol>
	    <p><a href="">View all</a><br />
	    Transit agency? <a href="">How to get off this list</a></p>
	  </div>
  
    <div id="recently-added-list">
      <h4>43 agencies</h4>
      <h3>RECENTLY MADE PUBLIC</h3>
      <ol>
        <li>
          <h5>Chicago</h5>
          <p><a href="">email</a> twitter: @nytsubwayscoop<br />
            CEO: Jay H Walter</p>
        </li>
        <li>
          <h5>Cleveland</h5>
          <p><a href="">email</a> twitter: @nytsubwayscoop<br />
            CEO: Jay H Walter</p>
        </li>
        <li>
          <h5>Kansas City</h5>
          <p><a href="">email</a> twitter: @nytsubwayscoop<br />
            CEO: Jay H Walter</p>
        </li>
      </ol>
      <p><a href="">View all</a></p>
    </div>
	</div>
  <div id="middle-col">
	  <div id="petition">
	    <h4>3972 signatures</h4>
	    <h3>DEMAND PUBLIC DATA</h3>
	    {% include "petition-form.html" %}
	    <p class="p2">After signing you will receive occasional updates about transportation issues from Front Seat</p>
	    <p><a href="">Tweet a comment</a> that includes opentransitdata.org</p>
	    {% include "tweet-viewer.html" %}
	  </div>
  </div>
  <div id="right-col">
    <div id="app-gallery">
      <h4>27 transit apps</h4>
      <h3>TRANSIT APP GALLERY</h3>
      <p>Public transit data makes apps like these possible:</p>
      <div class="app-scroller">
        <div id="up-control" class="clickable"><label>Previous</label></div>
        <div id="app-scroll-content">
          <div class="scroll-item first"> <a href=""><img src="{% static_url /images/appthumbs/app1.gif %}" /></a>
            <h5><a href="">Walk Score</a></h5>
            <p>Walk Score uses open transit data to show transit stops near a home.</p>
          </div>
          <div class="scroll-item"> <a href=""><img src="{% static_url /images/appthumbs/app2.gif %}" /></a>
            <h5><a href="">Walk Score</a></h5>
            <p>Walk Score uses open transit data to show transit stops near a home.</p>
          </div>
          <div class="scroll-item"> <a href=""><img src="{% static_url /images/appthumbs/app3.gif %}" /></a>
            <h5><a href="">Walk Score</a></h5>
            <p>Walk Score uses open transit data to show transit stops near a home.</p>
          </div>
        </div>
        <div id="down-control" class="clickable"><label>Next</label></div>
        <div id="app-gallery-button" onclick='trackNavigationNewWindow("", "featured-apps", "view app gallery")'></div>
      </div>
    </div>
  </div>

{% endblock %}
