{% extends 'base.html' %}

{% block content %}
	<div id="left-col">
	  <div id="no-data-list">
	    <h4>{{new_refs.count}} agencies</h4>
	    <h3>NO PUBLIC DATA</h3>
	    {% include "no-data-list.html" %}
	    <p><a href="feed_references">View all</a><br />
	    Transit agency? <a href="">How to get off this list</a></p>
	  </div>
  
    <div id="recently-added-list">
      <h4>43 agencies</h4>
      <h3>RECENTLY MADE PUBLIC</h3>
	    {% include "recently-added-list.html" %}      
      <p><a href="">View all</a></p>
    </div>
	</div>
  <div id="middle-col">
	  <div id="petition" class="body-content">
	    <h4>3972 signatures</h4>
	    <h3>DEMAND PUBLIC DATA</h3>
	    {% include "petition-form.html" %}
	    <p class="p2">After signing you will receive occasional updates about transportation issues from Front Seat</p>
	  </div>
	  <div id="petition-comments">
	    <p class="body"><a href="">Tweet a comment</a> that includes opentransitdata.org</p>
	    {% include "tweet-viewer.html" %}
	  </div>
  </div>
  <div id="right-col">
    <div id="app-gallery">
      <h4>27 transit apps</h4>
      <h3>TRANSIT APP GALLERY</h3>
      <p>Public transit data makes apps like these possible:</p>
      {% include "app-scroller.html" %}			
      <div id="app-gallery-button" onclick='trackNavigationNewWindow("", "featured-apps", "view app gallery")'></div>
    </div>
  </div>

{% endblock %}
